* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-green: #0b4d14;
    --color-black: #000;
    --color-gray: #c6bfbf;
    --color-white: white;
    --position-left: 7.5%;
}

/*main container */
.main__container {
    position: relative;
}

/* menu header */
.menu {
    background-color: var(--color-black);
    color: var(--color-white);
    position: relative;
    height: 40px;
}

.menu__items--list {
    position: absolute;
    left: 10%;
    display: flex;
    list-style-type: none;
    width: 20%;
    justify-content: space-evenly;
    top: 50%;
    transform: translateY(-50%);
}

ul > li {
    margin-right: 20px;
}

ul > li:hover {
    cursor: pointer;
}


/*main --header */
.main__header {
    background-color: var(--color-gray);
    height: 150px;
    display: flex;
    align-items: center;
}
.main__header > section {
    width: 85%;
}

.main__header--items {
    position: absolute;
    left: var(--position-left);
}

.main__header--items > p {
    margin-top: 20px;
}

/*Body */
.body__section--container {
    display: block;
    height: 65vh;
}
.body__section--secondary-container{
    width: 85%;
    margin: auto;
    display: flex;
    position: absolute;
    left: var(--position-left);
}

.body__section--paragraph {
    padding-right: 15px;
}


/*footer */
.footer__footer--container {
    background-color: var(--color-green);
    height: 40px;
    position: relative;
}
.footer__footer--secondary-container {
    width: 85%;
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
}
.footer__footer--first-menu, .footer__footer--second-menu {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.footer__footer--first-menu-lists, .footer__footer--second-menu-lists {
    display: flex;
    list-style-type: none;
}
.footer__footer--second-menu {
    right: var(--position-left);
}

/*smaller screen */ 

@media screen and (max-width: 665px) {
    .menu__items--list {
        width: 80%;
        margin: auto;
    }
    .body__section--secondary-container {
        display: block;
    }
    .body__section--paragraph, .body__section--container {
        margin-bottom: 50px;
    }
    .footer__footer--first-menu-lists, .footer__footer--second-menu-lists {
        font-size: 10px;
    }
    .footer__footer--container {
        top: 150px;
    }
  }